@namespace BLZR.Web.Components

<article style="margin-top: 0; padding: 20px;">
    <div>
        <div style="position:relative">
            <small>BLZR is a website dedicated to providing you with the best resources and information on Blazor.
            </small>
        </div>
        <br />
        <div class="trust-stats">
            <small>
                0 posts | 0 members
            </small>
        </div>
        <br />
        <button>Join us!</button>
    </div>
</article>

@code {

}
