@page "/profile"

<article>
   <small>
      @@thisdevguy 
   </small>
   <label for="switch">
      <input type="checkbox" id="switch" name="switch" role="switch">
      Do you like tacos?
   </label>
</article>

@code {
    
}