@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IJSRuntime js

<main class="container" style="padding-top: 0;">
  <nav style="padding-top: 0;">
    <ul>
      <li>
          <img class="logo-img" src="blzr200.png"/>
      </li>
    </ul>
    <ul>
      <li><a href="/"><i class="bi bi-house-fill"></i></a></li>
      <li><a href="https://www.github.com/bitobrian/blzr"><i class="bi bi-github"></i></a></li>
      <li>
        <details role="list" dir="rtl">
          <summary aria-haspopup="listbox" role="link"><i class="bi bi-person-circle"></i></summary>
          <ul role="listbox">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a>Logout</a></li>
          </ul>
        </details>
      </li>
      <li>
            <button @onclick="@(()=> ToggleDarkMode())">
                    @if (!darkMode)
                    {
                        <div>Light <i class="bi bi-sun"></i></div>
                    }
                    else
                    {
                        <div>Dark <i class="bi bi-moon"></i> </div>
                    }
                </button>
      </li>
    </ul>
  </nav>
  <input type="search" id="search" name="search" placeholder="Search">
  <div style="padding-top: 0;">
    @Body
  </div>
</main>

@code {
    bool darkMode = false;

    async Task ToggleDarkMode()
    {
        Console.WriteLine("Toggling dark mode");
        // log to browser console
        await js.InvokeVoidAsync("console.log", "Toggling dark mode");
        darkMode = !darkMode;
    }
}
