@page "/about"

<style> 
    article {
        margin: 20px 0;
        border-radius: 8px;
    }
    
    h1 {
      font-size: 2em;
      font-weight: bold;
      margin-top: 1em;
      margin-bottom: 0.5em;
      text-align: center;
    }
    
    p {
        padding-left: calc(100vw / 4);
        padding-right: calc(100vw / 4);
        font-size: 1.2em;
        line-height: 1.5em;
        margin-bottom: 1em;
        text-align: justify;
    }

</style>

<article>
    <h1>BLZR.DEV - The Ultimate Bifröst to the World of Blazor</h1>
    <p>Blazor is a cutting-edge front-end framework that allows you to use your C# skills to create interactive and dynamic web applications in the browser.</p>
    <p>Our website is dedicated to providing you with the best resources and information on Blazor. Whether you're just getting started or looking to take your skills to the next level, we'll point you in the right direction. From beginner tutorials to advanced guides, <strike>you'll find</strike> you might find everything you need to master the framework.</p>
    <p>We also curate the best content from around the web, so you can stay up-to-date with the latest trends and techniques in Blazor development. <strike>We also have a community forum where you can connect with other Blazor developers, ask questions and share your knowledge.</strike></p>
    <p>So come and explore the world of Blazor with us. We'll nerd out with you on this exciting journey of web development.</p>
    <p>- ChatGPT</p>
</article>

@code {
    
}