@page "/"

<style>
    .content-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
    
    .content-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 5px;
      padding-right: 5px;
    }
    
    .content-item {
        width: 250px;
        height: 300px;
        border-bottom: 4px solid #FD7F20;
        border-top: 8px solid #FD7F20;
        background-color: #FDB750;
        color: #333;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 5px;
        transition:  0.3s;
    }
    
    .content-item:hover {
        transform: scale(1.25);
    }
</style>

<div class="index-page">
    <h1 class="content-row" style="padding-bottom: 10px;">The unofficial site for all things Blazor</h1>
    <p class="content-row">@flavorText</p>
    <div class="content-container">
        @foreach(var post in postItems)
        {
            <div class="content-item">
                <h2>@post.Title</h2>
                <p>@post.Description</p>
                <p>@post.Likes</p>
            </div>
        }
    </div>
</div>

@code
{
    string flavorText = "Blazor is a web framework for building web apps with .NET and C# and a variety hosting flavors!";

    PostItem[]? postItems;

    protected override async Task OnInitializedAsync()
    {
        // generate 50 fake post items and toarray to postItems
        postItems = Enumerable.Range(1, 50).Select(index => new PostItem
        {
            Description = "Nothing",
            Title = $"Post Item {index}",
            ImageUrl = $"Some content for post item {index}",
            LinkUrl = $"Some content for post item {index}",
            Likes = index * 2,
        }).ToArray();
    }
}
