@page "/"

<div class="index-page">
    <div class="content-row">
        <div class="stuff">
            <BLZR.Web.Components.Featured.FeaturedItemSection />
            @*Latest posts list*@
        </div>
        <div class="content-col">
            <MainInfoPanel/>
            <TopForumItemsPanel/>
            <TopContributionsPanel/>
        </div>
    </div>
</div>

@code
{
    string flavorText = "Blazor is a web framework for building web apps with .NET and C# and a variety hosting flavors!";

    PostItem[]? postItems;

    protected override async Task OnInitializedAsync()
    {
        // generate 50 fake post items and toarray to postItems
        postItems = Enumerable.Range(1, 50).Select(index => new PostItem
        {
            Description = "Nothing",
            Title = $"Post Item {index}",
            ImageUrl = $"Some content for post item {index}",
            LinkUrl = $"Some content for post item {index}",
            Likes = index * 2,
        }).ToArray();
    }
}
