@page "/"

<div class="index-page">
    <h1 class="content-row" style="padding-bottom: 10px;">The unofficial site for all things Blazor</h1>
    <p class="content-row">@flavorText</p>
    <div class="content-container">
        @foreach(var post in postItems)
        {
            <div class="content-item">
                <h2>@post.Title</h2>
                <p>@post.Description</p>
                <p>@post.Likes</p>
            </div>
        }
    </div>
</div>

@code
{
    string flavorText = "Blazor is a web framework for building web apps with .NET and C# and a variety hosting flavors!";

    PostItem[]? postItems;

    protected override async Task OnInitializedAsync()
    {
        // generate 50 fake post items and toarray to postItems
        postItems = Enumerable.Range(1, 50).Select(index => new PostItem
        {
            Description = "Nothing",
            Title = $"Post Item {index}",
            ImageUrl = $"Some content for post item {index}",
            LinkUrl = $"Some content for post item {index}",
            Likes = index * 2,
        }).ToArray();
    }
}
