@page "/"
@inject IJSRuntime js

<button @onclick="WriteToBrowserConsole">Write to browser console</button>

<div style="display: flex; flex-direction: row; gap: 15px;">
    <div style="flex-direction: column; width: 25%;">
        <MainInfoPanel />
@*         <TopForumItemsPanel />
        <TopContributionsPanel /> *@
    </div>
    <div style="flex-direction: column; width: 75%;">
        <FeaturedBar />
        <ContentList CssStyle="margin: 0;" PostItems="postItems" />
    </div>
</div>

@code
{
    string flavorText = "Blazor is a web framework for building web apps with .NET and C# and a variety hosting flavors!";

    PostItem[]? postItems;

    protected override async Task OnInitializedAsync()
    {
        // generate 50 fake post items and toarray to postItems
        postItems = Enumerable.Range(1, 12).Select(index => new PostItem
        {
            Description = "Nothing",
            Title = $"Post Item {index}",
            ImageUrl = $"Some content for post item {index}",
            LinkUrl = $"Some content for post item {index}",
            Likes = index * 2,
        }).ToArray();
    }

    async Task WriteToBrowserConsole()
    {
        Console.WriteLine("Hello from C#");
        await js.InvokeVoidAsync("console.log", "EAIT SHIT");
    }
}
